<div class="container">
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
            <h2>Family Members</h2>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>

<!-----------------------FIRST NAME-------------------->

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <label for="firstName"> First Name * </label>
    </div>

    <div class="col-sm-1"> </div>

    <div class="col-sm-2">
        <input type="text" id="firstName" formControlName="firstName" />
    </div>
    <div class="col-sm-5"></div>
</div>

<!-----------------------LAST NAME-------------------->

<div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
        <label for="lastName"> Last Name *</label>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-2">
        <input type="text" id="lasttName" formControlName="lastName" />
    </div>
    <div class="col-sm-5"></div>
</div>
<!--Last Name Ends -->

<!-----------------------AGE-------------------->

<div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-3">
        <label for="lastName"> Age *</label>
    </div>

    <div class="col-sm-1"></div>

    <div class="col-sm-2">
        <input type="text" id="age" formControlName="age" />
    </div>
    <div class="col-sm-5"></div>
</div>
<!--Last Name Ends -->

<!------------------ Gender ----------------------------->

<div class="row">

    <div class="col-sm-5"></div>

         <input type="radio" formControlName="gender" id="gender" value="Male" />Male
         <input type="radio" formControlName="gender" id="gender" value="Female" />Female

    <div class="col-sm-7"></div>

</div>